.main__profile {
  max-width: 880px;
  display: flex;
  margin: auto;
  padding: 40px 0 71px;
}

.main__profile-image {
  max-width: 120px;
  max-height: 120px;
  padding-right: 30px;
}

.main__profile_info {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-right: 18px;
  font-family: "Inter-Regular", sans-serif;
  width: 100%;
}

.main__profile_details {
  display: flex;
  gap: 18px;
  align-items: center;
}

.main__profile_name {
  font-size: 42px;
  margin-bottom: 16px;
}

.main__profile_about {
  margin-top: 0;
  font-size: 18px;
}

.edit_button {
  max-width: 24px;
  height: 24px;
  background: none;
  justify-content: center;
  border: 2px inset;
  cursor: pointer;
}

.add_button {
  min-width: 150px;
  height: 50px;
  background: none;
  justify-content: end;
  margin-top: 44px;
  border: 2px inset;
  cursor: pointer;
}

.main__gallery {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  margin: 0 auto;
}

.main__gallery_card {
  position: relative;
  max-width: 282px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.main__gallery_image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__gallery_content {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 20px auto;
}

.main__gallery_paragraph {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main__button_like {
  border: none;
  height: 19px;
  align-self: flex-end;
  background: none;
  width: 21px;
  height: 19px;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .main__profile {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .main__profile-image {
    padding: 0;
  }

  .main__profile_info {
    width: 282px;
  }

  .main__profile_details {
    gap: 10px;
  }

  .add_button {
    margin-top: 18px;
    width: 282px;
  }

  .main__gallery {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .main__profile {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 42 0 0;
    text-align: center;
  }

  .main__profile-image {
    padding: 0;
  }

  .main__profile_info {
    width: 282px;
    padding: 0;
    align-items: center;
  }

  .main__profile_details {
    gap: 10px;
  }

  .main__profile_name {
    font-size: 22px;
  }

  .add_button {
    margin-top: 18px;
    width: 282px;
  }

  .main__gallery {
    max-width: 282px;
  }
}
